.header {
    margin-left: 1px;
    background: #28292b;
    padding: 10px 34px 14px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__info {
    display: flex;
    align-items: center;
    gap: 40px;
}