body {
  background: #212224;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14;
  font-weight: 400;
  color: #ffffff;
  line-height: 16px;
}

.active {
  background: #7789ea;
}

.active p {
  color: #ffffff !important;
}